*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 62.5%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #4d464f;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: repeat(2, min-content) min-content;
  grid-template-columns: [full-start] 2rem repeat(10, [col-start] 1fr [col-end]) 2rem [full-end]; }

.u-sm-mg-bt {
  margin-bottom: 1rem; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.postCategoryTitle {
  padding: 1rem;
  grid-column: 1 / -1;
  font-size: 2.5rem; }

.heading-1 {
  font-size: 4.5rem;
  color: #4d464f;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #4d464f; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  font-size: 1.6rem;
  color: #af8fc7;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #4d464f; }
  .heading-4--dark {
    color: #54483a; }

.btn {
  background-color: #af8fc7;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #b47bde; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  grid-column: full-start / full-end;
  background-color: #fff;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr repeat(2, min-content);
  padding: 0.2rem 2rem; }
  .header__serach-icon {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    cursor: pointer; }
  .header__menu-icon {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
    cursor: pointer;
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .header__menu-icon {
        display: block; } }

.navigation {
  grid-column: full-start / full-end;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(163, 87, 87, 0.1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      width: 80vw;
      position: fixed;
      height: 100vh;
      box-shadow: 5px 2px 10px 0px rgba(0, 0, 0, 0.1) !important;
      transform: translateX(-82vw);
      transition: all 0.5s; }
      .navigation.show-menu {
        transform: translateX(0) !important; }
      .navigation__list {
        display: grid !important;
        grid-template-columns: 1fr !important;
        justify-items: stretch !important;
        margin-top: 1rem; }
        .navigation__list--item {
          padding: 1rem 0rem 1rem 3rem !important;
          margin: 0rem 2rem; }
          .navigation__list--item.active {
            background-color: rgba(175, 143, 199, 0.4) !important;
            border-radius: 0.5rem !important;
            font-weight: bold;
            color: #54483a; } }
  .navigation__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    justify-items: center; }
    .navigation__list--item {
      list-style-type: none;
      padding: 0.5rem 0rem; }
      .navigation__list--item.active {
        color: #54483a;
        font-weight: bold; }
      .navigation__list--item a {
        color: inherit;
        text-decoration: none;
        font-size: 2rem; }
        .navigation__list--item a:focus {
          outline: none; }
        .navigation__list--item a:hover {
          color: #54483a;
          font-weight: bold; }

.category-wise-posts {
  grid-column: col-start 1 / col-end 8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  align-content: start;
  padding-right: 3rem; }
  @media only screen and (max-width: 62.5em) {
    .category-wise-posts {
      grid-column: col-start 1 / col-end 10;
      padding-right: 0; } }

.post {
  display: grid;
  padding: 0 1rem 5rem 1rem; }
  .post--image {
    width: 100%; }
  .post--category {
    color: #af8fc7;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0; }
  .post--heading {
    font-size: 2rem;
    color: #4d464f; }
  .post--post-date {
    color: #aaa;
    font-size: 1.2rem; }
  .post p {
    font-size: 1.5rem;
    text-align: justify;
    padding-top: 1rem; }

.latest-posts {
  grid-column: col-start 9 / col-end 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  @media only screen and (max-width: 62.5em) {
    .latest-posts {
      grid-column: col-start 1 / col-end 10;
      grid-row: 3; } }

.footer {
  grid-column: full-start / full-end;
  background-color: #4d464f;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat(10, 1fr) minmax(1rem, 1fr);
  align-items: center;
  grid-row-gap: 1rem;
  color: #fff;
  font-size: 2rem;
  padding: 1rem; }
  .footer__social-media-links {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4rem, min-content));
    grid-gap: 1rem; }
    @media only screen and (max-width: 62.5em) {
      .footer__social-media-links {
        grid-column: 2 / 12;
        justify-content: center; } }
  .footer__copyrght-information {
    grid-column: 5 / 9;
    justify-self: center; }
    @media only screen and (max-width: 62.5em) {
      .footer__copyrght-information {
        grid-column: 2 / 12; } }
  .footer .fa {
    text-decoration: none;
    padding: 1rem;
    border-radius: 50%;
    margin-right: 1rem;
    width: 4rem;
    text-align: center; }
    .footer .fa-facebook {
      background: #3b5998;
      color: white; }
    .footer .fa-twitter {
      background: #55acee;
      color: white; }
    .footer .fa-google {
      background: #dd4b39;
      color: white; }
    .footer .fa-linkedin {
      background: #007bb5;
      color: white; }
    .footer .fa-youtube {
      background: #bb0000;
      color: white; }
    .footer .fa-instagram {
      background: #125688;
      color: white; }
