.navigation {
  grid-column: full-start / full-end;
  background-color: $color-white;

  -webkit-box-shadow: 0px 2px 3px 0px rgba(163, 87, 87, 0.1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);

  &__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;

    &--item {
      list-style-type: none;
      padding: 0.5rem 0rem;

      & a {
        color: inherit;
        text-decoration: none;
        font-size: 2rem;

        &:focus {
          outline: none;
        }

        &:hover {
          color: $color-grey-dark-1;
          font-weight: bold;
        }

        &.active {
          color: $color-grey-dark-1;
          font-weight: bold;
        }
      }
    }
  }
}
