.author {
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: repeat(12, 1fr);

    img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        grid-column: 3 / 5;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 3 / 11;
            justify-self: center;
        }
    }

    &__about {
        font-size: 2rem;

        font-family: $font-display;
        padding: 1rem;
        text-align: justify;
        grid-column: 5 / 11;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 3 / 11;
        }

        @media only screen and (max-width: $bp-xs) {
            grid-column: 1 / -1;
        }

        &--name {
            font-weight: 500;
        }

        &--social-media-accounts {
            text-align: center;
        }

        &--connecton {
            color: $color-primary;
            font-weight: 500;
        }
    }
}
