.aside-latest-blog-post {
    margin-top: 5rem;
    margin-left: 2rem;

    display: grid;
    grid-row-gap: 3rem;
    grid-auto-rows: max-content;

    grid-column: col-start 8 / full-end;

    article {
        display: grid;
        grid-template-columns: 5rem auto;

        img {
            width: 100%;
            height: 100%;
        }

        h3 {
            font-size: 1.4rem;
            padding: 0rem 0rem .5rem .5rem;
        }

        @media screen and (max-width: 1200px) {
            
        }
    }

    &__alternate-post {
        display: grid !important;
        grid-template-columns: auto 5rem !important;
    }
}