.footer {
    // background-color: greenyellow;
    
    grid-column: full-start / full-end;

    .footer-social-section {
        width: 100%;
        align-items: center;
        justify-content: space-around;
        position: relative;
        margin-top: 5px;
    }

    .footer-social-section::after {
        content: "";
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 10px;
        border-top: 1px solid $primary-line-color;
        width: calc(100% - 20px)
    }
}