.footer {
    background-color: rgba(0,0,0, .3);

    grid-column: full-start / full-end;

    &__wrapper {
        position: relative;

        ::after {
            content: '';
            width: 100%;
            border-top: 1px solid black;
            position: absolute;
        }
    }

    &__connect-text {
        position: relative;
        font-size: 3rem;
        display: inline-block;
    }

    &__social-icon {
        position: relative;
        font-size: 3rem;
        display: inline-block;
    }
}