.footer {
    background-color: rgba(0,0,0, .3);

    grid-column: full-start / full-end;

    &__wrapper {

        ::after {
            content: '';
            width: 100%;
            border-top: 10px solid black;
            position: absolute;
        }
    }
}