.header {
    // background-color: blueviolet;
    padding: 2rem;

    grid-column: 1 / -1;
    
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;

    // & > * {
    //     padding: 0 2rem;
    // }

    &__logo {
        width: 6rem;
        height: 6rem;
    }
    
    &__search-logo {
        width: 4rem;
        height: 4rem;
    }
}