.post_container {
    // background-color: gainsboro;
    
    grid-column: center-start / center-end;
    grid-column-gap: 5rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

    article img {
        width: 100%;
        height: 100%;
    }
}